<h2 mat-dialog-title>Registrar cuota</h2>
<mat-dialog-content>
    <form [formGroup]="cuotaForm">
        <div class="cliente-container">
                <div>
                    <label>
                        <input type="radio" id="radioDiario" formControlName="cuotaSelect" value="minima" (click)="cuotaMin()"
                        >Cuota mínima
                    </label>
                    <label>
                        <input type="radio" id="radioSemanal" formControlName="cuotaSelect" value="otro" (click)="cuotaOtro()"
                        >Otro valor
                    </label>
                </div>
               <br>
                <mat-form-field>
                    <input matInput  type="number" placeholder="Valor cuota" formControlName="valor" required>
                </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>

    <button mat-button color="primary" (click)="onSave()" [disabled]="cuotaForm.invalid">
        <mat-icon>save</mat-icon>Guardar
    </button>

    <button mat-button color="primary" (click)="onCancel()">
        <mat-icon>cancel</mat-icon>Cancelar
    </button>

</mat-dialog-actions>

