<body>      
        <div id="contenedor">
            <div id="central">
                <div id="login">
                    <div class="titulo">
                        Registrarse
                    </div>
                        <div>
                            <strong>Nombres</strong>
                        </div>
                        <input type="text">
                        <div>
                            <strong>Apellidos</strong>
                        </div>
                        <input type="text">
                        <div>
                            <strong>Número de documento</strong>
                        </div>
                        <input type="text">
                        <div>
                            <strong>Teléfono</strong>
                        </div>
                        <input type="text">
                        
            
                    <button type="submit" title="Ingresar" name="Ingresar" >Registrarse</button>
                </div>

            </div>
        </div>
            
    </body>


