<h2 mat-dialog-title> {{estadoFormulario}} prestamo</h2>
<mat-dialog-content>
    <form [formGroup]="prestamoForm">
        <div class="cliente-container">
            <mat-form-field>
                <input matInput  type="number" placeholder="Valor crédito" formControlName="credito" required>
            </mat-form-field>

            <mat-form-field>
                <input matInput  type="number" placeholder="Tasa porcentual (solo números)" formControlName="porcentaje" required>
                
            </mat-form-field>

                <label style="color: gray;">Periodo de pago</label>

                <div class="form-group">
                <label>
                    <input type="radio" id="radioDiario"  value="Diario"  formControlName="periodoPago"
                    > Diario
                </label>
                <label>
                    <input type="radio" id="radioSemanal"  value="Semanal"  formControlName="periodoPago"
                    > Semanal
                </label>
                <label>
                    <input type="radio" id="radioQuincenal"  value="Quincenal" formControlName="periodoPago"
                    > Quincenal
                </label>
                </div>

            <mat-form-field>
                <input type="number" matInput placeholder="Número de cuotas" formControlName="Npagos" required>
            </mat-form-field>

            <label style="color: gray;">Estado</label>

                <div class="form-group">
                <label>
                    <input type="radio" id="radioTrue"  value="Activo"  formControlName="estado"
                    > Activo
                </label>
                <label>
                    <input type="radio" id="radioFalse"  value="Inactivo"  formControlName="estado"
                    > Inactivo
                </label>
                </div>

        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>

    <button mat-button color="primary" (click)="onSave()" [disabled]="prestamoForm.invalid">
        <mat-icon>save</mat-icon>Guardar
    </button>

    <button mat-button color="primary" (click)="onCancel()">
        <mat-icon>cancel</mat-icon>Cancelar
    </button>

</mat-dialog-actions>
